*.exe
*.obj
*.o
*.pdb
*.ir
*.ilk
*.cache
cmath
.vs
x64
*.lib
*.user
*.iobj
*.ipdb
*.lastcodeanalysissucceeded
*.session
*.mecfg
*.dll
*.res
*.ttf
tests/log.txt
bin
profile.json
build/
build_debug/
build_release/
